.all-body{width: 94%;}

/* 头部 */
.head{width: 100%;height: 6%;position: relative;margin-bottom: 1.25rem;}
.title{font-size: 39px;font-family: PingFang SC;font-weight: 800;color: #FFFFFF;}

.calendar{width: 8.875rem; height: 1.875rem; line-height: 1.875rem; display: grid; grid-template-columns: 18px auto 18px;position: absolute;right: 0;top: 0.625rem;}
.calendar .cleft{background-image: url(../../img/last@2x.png); background-size: 100% 100%; cursor: pointer;  }
.calendar .ctitl{margin: 0 0.3rem; background: #0a5f81;  color: #fff; text-align: center;font-size: 20px; }
.calendar .cright{background-image: url(../../img/next@2x.png); background-size: 100% 100%;  cursor: pointer;   }




/* 身体 */
.boody{width: 100%;height: 90%;display: flex;}
.only{width: 33%;height: 100%;margin-right: 8px;}
.only:nth-child(3){margin-right: 0;}
.top{width: 100%;height: 65%;}
.foot{width: 100%;height: 35%;}



/* 左侧 */
.number{width: 100%;height: 45%;margin-bottom: 24px;background: rgba(14, 146, 155, 0.35);display: flex;}
.multi{width: 25%;text-align: center;}
.multi:nth-child(1){width: 17%;}
.multi img{cursor: pointer;}
.multi:nth-child(2){width: 33%;}
.multi-boo{width: 100%;height: 50%;}
.multi:nth-child(1){line-height: 15rem;}
.quantity{width: 100%;height: 50%;font-size: 19px;font-family: PingFang SC;color: #FFFFFF;position: relative;}
.quantity span{ width: 100%;position: absolute;bottom:15px;left: 0;}
.month{width: 100%;height: 50%;font-size: 30px;font-family: Ebrima;font-weight: bold;color: #F9EA47;}

.money{width: 100%;height: 25%;background: rgba(14, 146, 155, 0.35);display: flex;}
.four{width: 28%;text-align: center;}
.four:nth-child(1){line-height: 7.5rem;width: 17%;}

.cash{width: 100%;height: 50%;background: rgba(14, 146, 155, 0.35);}
/* .cash{width: 100%;height: 65%;background: rgba(14, 146, 155, 0.35);} */
.rail{width: 95%;height: 33%;margin-left: 1.875rem;}
.rail-top{width: 100%;height: 30%;display: flex;padding-top: 15px;}
.blank{width: 3%;border-left:4px solid #ffffff ;height: 80%;}
.rail-tit{width: 90%;height: 100%;font-size: 20px;font-family: PingFang SC;font-weight: 800;color: #FFFFFF;}
.rail-bottom{width: 100%;height: 50%;display: flex;}
.railNei{flex: 1;font-size: 16px;font-family: PingFang SC;font-weight: 800;color: #FFFFFF;}
.railNei span{font-size: 26px;font-family: Ebrima;font-weight: bold;color: #F9EA47;}




.moneey{display: none;}

.tit{width: 100%;height: 20%;}
.titname{font-size: 24px;font-family: PingFang SC;font-weight: 800;color: #FFFFFF;}
.titname span{margin-left: 20px;}
.bant{width: 100%;height: 80%;}

/* 中间 */
.mapCont{width: 100%; height: 95%;  }
.mapCont #chartsFBQK{height: 100%; }

/* 右侧 */
.only>.tit{height: 8%;}
.bt{width: 100%;height: 4%;display: flex;}
.titnames{flex: 1;font-size: 16px;font-family: PingFang SC;font-weight: bold;color: #09D0EC;text-align: center;cursor: pointer;}
.nr{width: 100%;height: 85%;}


.i1{background:url(../../img/one.png) no-repeat;background-position:center;}
 .i2{background:url(../../img/two.png) no-repeat;background-position:center;}
 .i3{background:url(../../img/three.png) no-repeat;background-position:center;}
 
 .nr table{width: 100% !important; border-spacing: 0;}
 .nr table tbody tr{height: 3.4375rem;width: 100%;}
 .nr table tbody tr td{width: 16%; text-align: center;cursor:pointer;}