.all-body{width: 92%;}
.all-body-bg{height: 95rem;}
/* 首栏 */
.one{width: 100%;height: 13%;margin-bottom: 2rem;}
.top{width: 100%;height: 30%;position: relative;}
.classify{width: 100%;height: 70%;display: flex;}
/* 标题 */
.title{width: 40%;height: 100%;font-size: 35px;font-family: PingFang SC;font-weight: 800;color: #FFFFFF;margin: 0 auto;}
.calendar{width: 8.875rem; height: 1.875rem; line-height: 1.875rem; display: grid; grid-template-columns: 18px auto 18px;position: absolute;right: 0;top: 0.625rem;}
.calendar .cleft{background-image: url(../../img/last@2x.png); background-size: 100% 100%; cursor: pointer;  }
.calendar .ctitl{margin: 0 0.3rem; background: #0a5f81;  color: #fff; text-align: center;font-size: 20px; }
.calendar .cright{background-image: url(../../img/next@2x.png); background-size: 100% 100%;  cursor: pointer;   }
/* 三大类 */
.classification{width: 32%;height: 100%;background: rgba(14, 146, 155, 0.35);display: flex;margin-right: 2.5rem;cursor: pointer; }
.xzlabel{background: rgba(39, 251, 255, 0.35);border: 1px solid #31F7FB;}
.classification:nth-child(3){margin-right: 0px;}
.ico{width:20%;height: 100%;}
.image{width: 5rem;height: 5rem;margin:auto;margin-top: 1.5625rem;}
.ico img{width: 100%;height: 100%;}
.date{width: 25%;height: 100%;text-align: center;}
.quantity{width: 100%;height: 50%;font-size: 16px;font-family: PingFang SC;font-weight: 500;color: #FFFFFF;position: relative;}
.quantity span{position: absolute;bottom:0.625rem;width: 100%;left: 0;}
.month{width: 100%;height: 50%;font-family: Ebrima;color: #F9EA47;font-size: 2.2rem;}




/* 中栏 */
.two{width: 100%;height: 45%;display: flex;margin-bottom: 1rem;}
.cutline{width: 32%;height: 100%;margin-right: 2.5rem;}
.cutline:nth-child(3){margin-right: 0px;}
.echart{width: 100%;height: 50%;}

/* 左侧 */
.bans{width: 100%;height: 20%;}
.bant{width: 100%;height: 80%;}
.bant-none{display: none;}
.bantit{display: flex;position: relative;padding-left: 1.25rem;}
.bantit span{font-size: 24px;font-family: PingFang SC;font-weight: 800;color: #FFFFFF;}





/* 底部 */
.three{width: 100%;height: 37%;display: flex;}
.rank{width: 32%;height: 100%;margin-right: 2.5rem;background: url(../../img/rjsdl/组.png) no-repeat;background-size: 100% 100%;}
.rank:nth-child(3){margin-right: 0}
.rtit{width: 100%;height: 9%;}
.ranking{width: 100%;height: 80%;}
.fwy{width: 68%;height: 100%;margin: 0 auto;line-height: 50px;font-size: 22px;font-family: PingFang SC;font-weight: 800;text-align: center;}
.fwy img{height: 1.875rem;width:1.875rem;}
.bt{width: 100%;height: 10%;display: flex;}
.titname{flex: 1;font-size: 18px;font-family: PingFang SC;font-weight: bold;color: #09D0EC;text-align: center;line-height: 3.125rem;}
.nr{width: 100%;height: 80%;}

.i1{background:url(../../img/one.png) no-repeat;background-position:center;}
.i2{background:url(../../img/two.png) no-repeat;background-position:center;}
.i3{background:url(../../img/three.png) no-repeat;background-position:center;}
 
.sequence1{cursor: pointer;}
.sequenced1{cursor: pointer;}
.nr table{width: 100% !important; border-spacing: 0;}
.nr table tbody tr{height: 40px;width: 100%;}
.nr table tbody tr td{width: 25%; text-align: center;cursor:pointer;}



/* 右侧 */
.cutline>.bans{height: 10%;}
.rankk{width: 100%;height: 90%;}
.rankk .btr{height: 10%;font-size: 18px;display: flex;}
.titnamer{font-size: 18px;font-family: PingFang SC;font-weight: bold;color: #09D0EC;text-align: center;line-height: 3.125rem;width: 25%;}
.tabled{width: 100%;height: 90%;}

.tabled table{width: 100% !important; border-spacing: 0;}
.tabled table tbody tr{height: 40px;width: 100%;}
.tabled table tbody tr td{width: 25%; text-align: center;cursor:pointer;}