<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>数字经济专题分析</title>
		<script type="text/javascript" src="../../source/js/public.js"></script>
		<!--公共引入js、css-->
		<script type="text/javascript" src="../../source/js/includefile.js"></script>
		<!--公共方法js-->
		<link rel="stylesheet" href="../../source/css/ztfx/ztfx-2.css" />
		<script type="text/javascript" src="../../source/js/ztfx/ztfx.js"></script>
		
	</head>
	<body>
		<!--外部框架div-->
		<div id="layui-col-md12">
			<!--头div-->
			<div class="layui-col-md12 all-head" id="headDiv">
			</div>
			<!--div(用于背景图)-->
			<div class="layui-col-md12 all-body-bg">
				<!--内容div-->
				<div class="all-body">
					<div class="first">
						<div class="f-title">
							<div class="Ctitle">
                                数字经济专题分析
								<span>
                                （上饶市互联网和相关服务业）
								</span>
							</div>
						</div>
						
						<div class="f-t-title">
							指标总览
						</div>
						<div class="long_img">
							<img src="../../source/img/ztfx/img.png" >
						</div>
					</div>
					<div class="second">
						<div class="second-l">
							<div class="sLeft">
								<div class="left-1">
									<img src="../../source/img/ztfx/zs.png" >
								</div>
								<div class="right-1">
									<div class="right-t">
										指标总数
									</div>
									<div class="right-f">
										189
										<span>个</span>
									</div>
								</div>
							</div>
							<div class="sRight">
								<div class="left-1">
									<img src="../../source/img/ztfx/sjl.png" >
								</div>
								<div class="right-1">
									<div class="right-t">
										数据量
									</div>
									<div class="right-f" id="right-f">
										231
										<span>条</span>
									</div>
								</div>
							</div>
						</div>
						<div class="second-r">
							<div class="frame">
								<div class="frame1 frameee">
									<div class="frame-tit">
										一级指标
									</div>
									<div class="fram-num">
										1,717,01
										<span>万元</span>
									</div>
								</div>
							</div>
							<div class="frame">
								<div class="frame2 frameee">
									<div class="frame-tit">
										二级指标
									</div>
									<div class="fram-num">
										18
										<span>万元</span>
									</div>
								</div>
							</div>
							<div class="frame">
								<div class="frame3 frameee">
									<div class="frame-tit">
										三级指标
									</div>
									<div class="fram-num">
										185
										<span>人</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="third">
						<div class="t-frame">
							<div class="thirdTit">
								<img src="../../source/img/ztfx/tltle.png" >
								主营业务
							</div>
							<div class="thirdFot" id="established">
								
							</div>
						</div>
						<div class="t-frame">
							<div class="thirdTit">
								<img src="../../source/img/ztfx/tltle.png" >
								注册资金
							</div>
							<div class="thirdFot" id="registered">
								
							</div>
						</div>
						<div class="t-frame">
							<div class="thirdTit">
								<img src="../../source/img/ztfx/tltle.png" >
								老板年龄
							</div>
							<div class="thirdFot" id="age">
								
							</div>
						</div>
						<div class="t-frame">
							<div class="thirdTit">
								<img src="../../source/img/ztfx/tltle.png" >
								投资来源
							</div>
							<div class="thirdFot" id="source">
								
							</div>
						</div>
					</div>
					<div class="fourth">
						<div class="f-frame">
							<div class="fourthTit">
								趋势图
							</div>
							<div class="fourthImg">
								<img src="../../source/img/title_right.png" >
							</div>
							<div class="fourthEchs" id="tendency">
								
							</div>
						</div>
						<div class="f-frame">
							<div class="fourthTit">
								营业收入
							</div>
							<div class="fourthImg">
								<img src="../../source/img/title_right.png" >
							</div>
							<div class="fourthEchs" id="taking">
								
							</div>
						</div>
						<div class="f-frame">
							<div class="fourthTit">
								纳税金额
							</div>
							<div class="fourthImg">
								<img src="../../source/img/title_right.png" >
							</div>
							<div class="fourthEchs" id="tax">
								
							</div>
						</div>
						<div class="f-frame">
							<div class="fourthTit">
								净利润
							</div>
							<div class="fourthImg">
								<img src="../../source/img/title_right.png" >
							</div>
							<div class="fourthEchs" id="profits">
								
							</div>
						</div>
					</div>
					<div class="fifth">
						<div class="fifthTit">
							建议
						</div>
						<div class="fifthImg">
							<img src="../../source/img/ztfx/img.png" >
						</div>
						<div class="fifthCenter">
							
						</div>
					</div>
				</div>
			</div>
			<!--底div-->

		</div>
	</body>
</html>