<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>企业分布企业列表</title>
		<script type="text/javascript" src="../../source/js/public.js" ></script><!--公共引入js、css-->
	    <script type="text/javascript" src="../../source/js/includefile.js" ></script><!--公共方法js-->
	    <script type="text/javascript" src="../../source/js/qyfb/qylb.js" ></script>
	    <link rel="stylesheet" href="../../source/css/qyfb/qylb.css" />
	    <link rel="stylesheet" href="../../source/ico/iconfont.css">
	</head>
	<body>
		<!--外部框架div-->
		<div class="layui-col-md12">
			<!--div(用于背景图)-->
			<div class="layui-col-md12">
				<!--内容div-->
				<div class="all-body">
					<!--内容中间div-->
					<div class="layui-col-md12 all-body-middle">
						<div class="layui-col-md12 all-body-right-bottom">
							<div class="layui-col-md12 all-body-left-top-content">
								<table class="all-body-right-bottom-content" style="border-collapse: separate;border-spacing: 0px 10px;">
									<thead>
									<tr>
										<th colspan="6" style="text-align: center; position: relative;"><input class="sch-input" type="text" placeholder="请输入企业名称/统一社会信用代码/注册号/法定代表人"/>
											<button class="sch-button"></button></th>
									</tr>
									<tr>
										<th width="5%">序号</th>
										<th width="20%">企业名称</th>
										<th width="20%">法定代表人</th>
										<th width="20%">统一社会信用代码/注册号</th>
										<th width="20%">区域</th>
										<th width="15%">成立日期</th>
									</tr>
									</thead>
								</table>
								<div class="all-body-right-bottom-body">
									<table class="all-body-right-bottom-content">
										<tbody>
										</tbody>
									</table>
								</div>
								<div id="fy"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
