<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>产业布局</title>
		<script type="text/javascript" src="../../source/js/public.js"></script>
		<!--公共引入js、css-->
		<script type="text/javascript" src="../../source/js/includefile.js"></script>
		<!--公共方法js-->
		<script type="text/javascript" src="../../source/js/cyl-3/cyl-zcqd.js"></script>
		<link rel="stylesheet" href="../../source/css/cyl-3/cyl-zcqd.css" />
		

	</head>
	<body>
		<!--外部框架div-->
		<div class="layui-col-md12">

			<!--头div-->
			<div class="layui-col-md12 all-head" id="headDiv"></div>

			<!--div(用于背景图)-->
			<div class="layui-col-md12 all-body-bg">
				<!--内容div-->
				<div class="all-body ">
					<div class="option">
						<div class="top-two"></div>
						<div class="top-three">
							<div class="style">
								<div class="logo">
									<img src="../../source/img/icon_qysl.png" >
								<b>&nbsp;物&nbsp;联&nbsp;网</b>
								</div>
								
								<div class="time">
									<img src="../../source/img/cyl/last.png" >
									<span>2020</span>
									<img src="../../source/img/cyl/next.png" >
								</div>
								
							</div>
							<div class="three-center">
								<div class="twobutton twobutton-exchange">
									物联网
								</div>
								<div class="twobutton">
									大数据与云计算
								</div>
							</div>
						</div>
						<div class="top-four">
							<svg width="100%" height="100%" viewBox="0 0 1297 41" fill="none" xmlns="http://www.w3.org/2000/svg">

								<path stroke-dasharray="2,2" d="M541 1V20.2308H436V41" stroke="#31F7FB" />
								<path stroke-dasharray="2,2" d="M541 0V20.7407H871V40" stroke="#31F7FB" />
								<path stroke-dasharray="2,2" d="M541 0V20.3636H1296V40" stroke="#31F7FB" />
								<path stroke-dasharray="2,2" d="M541 1V20.6226H1V41" stroke="#31F7FB" />
								<path d="M541 0V20.7407H871V40" stroke="#31F7FB" class="circle-load-svg2" />
							</svg>
						</div>
						<div class="top-five">
							<div class="fourbutton " id="industry">
								<img src="../../source/img/cyl/inventory/icon_qjqd.png">
								企业清单
							</div>
							<div class="fourbutton " id="technology">
								<img src="../../source/img/cyl/inventory/icon_zdxm.png">
								重点项目清单
							</div>
							<div class="fourbutton button-exchange" id="use">
								<img src="../../source/img/cyl/inventory/icon_zcqd.png">
								政策清单
							</div>
							<div class="fourbutton" id="district">
								<img src="../../source/img/cyl/inventory/icon_qjqd.png">
								集群清单
							</div>
							<div class="fourbutton" id="district">
								<img src="../../source/img/cyl/inventory/icon_wtqd.png">
								问题清单
							</div>
						</div>
					</div>
					<!--企业分析详情dailog占位-->
					<div class="boxContent ">
						
						<div class="line2">
							<div id="divCenterTitle" class="cyfx_title_text">政策清单</div>
							<div class="cyfx_title_line">
								<div class="bleft"></div>
								<div class="bcenter"></div>
								<div class="bright"></div>
							</div>
						</div>
						<!--左上div内容-->
						<div class="qylist">
							<div class="table-head">
				                <table>
				                    <thead>
				                        <tr>
											<th class="td1">排名</th>
											<th class="td2">级别</th>
											<th class="td3">文件名称</th>
											<th class="td4">文号</th>
											<th class="td5">发文单位</th>
											<th class="td6"><div>内容概括</div></th>
										</tr>
				                    </thead>
				                </table>
				            </div>
				            <div class="table-body">
				                <table>
				                    <tbody>
					                    <tr>
											<td class="td1"><i>1</i></td>
											<td class="td2">国家</td>
											<td class="td3">《国民经济和社会发展第十三个五年规划》</td>
											<td class="td4">--</td>
											<td class="td5">全国人大</td>
											<td class="td6"><div>实施“物联网+”行动计划，发展物联网技术和应用，发展分享经济，促进互联网</div></td>
										</tr>
										<tr>
											<td class="td1"><i>2</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>
										<tr>
											<td class="td1"><i>3</i></td>
											<td class="td2">国家</td>
											<td class="td3">《关于推进物联网有序健康发展的指导意见》</td>
											<td class="td4">国发[2013]7号</td>
											<td class="td5">国务院</td>
											<td class="td6"><div>实现物联网在经济社会各领域的广泛应用，掌握物联网关键核心技术，基本形成安全可控、具有国际竞争力的物联网产业体系，成为推动经济社会智能化和可持续发展的重要力量</div></td>
										</tr>

				                    </tbody>
				                </table>
				            </div>




							<div class="timePanel">
								<!--<div class="botTime"><em>数据采集截止日期：2020-09-01</em></div>-->
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--底div-->

		</div>
	</body>

</html>
