<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>产业布局</title>
	<script type="text/javascript" src="../../source/js/public.js" ></script><!--公共引入js、css-->
	<script type="text/javascript" src="../../source/js/zcircleMove.js" ></script>
	<script type="text/javascript" src="../../source/js/includefile.js" ></script><!--公共方法js-->
	<script type="text/javascript" src="../../source/js/countUp.js" ></script>
	<script type="text/javascript" src="../../source/js/cyl-3/cyl-qyqd.js" ></script>

	<link rel="stylesheet" href="../../source/css/demo/demo.css" />
	<link rel="stylesheet" href="../../source/css/common.css" />
	<link rel="stylesheet" href="../../source/css/cyl-3/cyl-qyqd.css" />
	<link rel="stylesheet" href="../../source/ico/iconfont.css">

</head>
<body>
<!--外部框架div-->
<div class="layui-col-md12">

	<!--头div-->
	<div class="layui-col-md12 all-head" id="headDiv"></div>

	<!--div(用于背景图)-->
	<div class="layui-col-md12 all-body-bg">
		<!--内容div-->
		<div class="all-body ">


			<!--企业分析详情dailog占位-->
			<div class="boxContent ">

				<div class="line1">
					<div class="btnback"></div>
				</div>
				
				<div class="line2">
					<div id="divCenterTitle" class="cyfx_title_text">企业清单</div>
					<div class="cyfx_title_line">
						<div class="bleft"></div>
						<div class="bcenter"></div>
						<div class="bright"></div>
					</div>
				</div>
				<div class="line3">
					<div class="qItem kpxd">
						<dd>企业数量</dd>
						<dt><span>1250</span>家</dt>
					</div>
					<div class="qItem cyxd">
						<dd>企业数量</dd>
						<dt><span>1250</span>家</dt>
					</div>
					<div class="qItem dlxd">
						<dd>企业数量</dd>
						<dt><span>1250</span>家</dt>
					</div>
					<div class="qItem dyxd">
						<dd>企业数量</dd>
						<dt><span>1250</span>家</dt>
					</div>
					<div class="qItem fhxd">
						<dd>企业数量</dd>
						<dt><span>1250</span>家</dt>
					</div>



					<div class="qItem qyzs">
						<dd>企业数量</dd>
						<dt><span>1250</span>家</dt>
					</div>
					<div class="qItem yysr">
						<dd>企业数量</dd>
						<dt><span>1250</span>家</dt>
					</div>
					<div class="qItem jlr">
						<dd>企业数量</dd>
						<dt><span>1250</span>家</dt>
					</div>
					<div class="qItem nsje">
						<dd>企业数量</dd>
						<dt><span>1250</span>家</dt>
					</div>
					<div class="qItem cyry">
						<dd>企业数量</dd>
						<dt><span>1250</span>家</dt>
					</div>

				</div>

				
				<!--左上div内容-->
				<div class="qylist">
					<table>
						<thead>
							<tr>
								<td class="td1">排名</td>
								<td class="td2">区域</td>
								<td class="td3">企业名称</td>
								<td class="td4">注册资金</td>
								<td class="td5">注册日期</td>
								<td class="td6">企业地址</td>
								<td class="td7">营业收入</td>
								<td class="td8">净利润</td>
								<td class="td9">纳税金额</td>
								<td class="td10">从业人员</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><i>1</i></td>
								<td>新建区</td>
								<td>南昌欧菲光电技术有限公司</td>
								<td>10000万元</td>
								<td>2019-10-11</td>
								<td>南昌市西湖区汐源大街20号</td>
								<td>8796万元</td>
								<td>879万元</td>
								<td>1399万元</td>
								<td>102人</td>
							</tr>
							<tr>
								<td><i>2</i></td>
								<td>新建区</td>
								<td>方大特钢科技股份有限公司</td>
								<td>10000万元</td>
								<td>2019-10-11</td>
								<td>江西省南昌市高新技术产业开发区火炬大道31号</td>
								<td>8796万元</td>
								<td>879万元</td>
								<td>1399万元</td>
								<td>102人</td>
							</tr>
							<tr>
								<td><i>3</i></td>
								<td>新建区</td>
								<td>江西欧迈斯微电子有限公司</td>
								<td>10000万元</td>
								<td>2019-10-11</td>
								<td>南昌市西湖区汐源大街20号</td>
								<td>8796万元</td>
								<td>879万元</td>
								<td>1399万元</td>
								<td>102人</td>
							</tr>
							<tr>
								<td><i>4</i></td>
								<td>新建区</td>
								<td>南昌欧菲光电技术有限公司</td>
								<td>10000万元</td>
								<td>2019-10-11</td>
								<td>南昌市西湖区汐源大街20号</td>
								<td>8796万元</td>
								<td>879万元</td>
								<td>1399万元</td>
								<td>102人</td>
							</tr>
							<tr>
								<td><i>5</i></td>
								<td>新建区</td>
								<td>南昌欧菲光电技术有限公司</td>
								<td>10000万元</td>
								<td>2019-10-11</td>
								<td>南昌市西湖区汐源大街20号</td>
								<td>8796万元</td>
								<td>879万元</td>
								<td>1399万元</td>
								<td>102人</td>
							</tr>
							<tr>
								<td><i>6</i></td>
								<td>新建区</td>
								<td>南昌欧菲光电技术有限公司</td>
								<td>10000万元</td>
								<td>2019-10-11</td>
								<td>南昌市西湖区汐源大街20号</td>
								<td>8796万元</td>
								<td>879万元</td>
								<td>1399万元</td>
								<td>102人</td>
							</tr>
						</tbody>
					</table>

					<div class="timePanel">
						<div class="botTime"><em>数据采集截止日期：2020-10</em></div>
					</div>
					
				</div>
				


			</div>

			


		</div>
	</div>

	<!--底div-->

</div>
</body>

</html>
