<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../../source/js/public.js" ></script><!--公共引入js、css-->
	    <script type="text/javascript" src="../../source/js/includefile.js" ></script><!--公共方法js-->
	    <link rel="stylesheet" href="../../source/css/demo/demo.css" />
	</head>
	<body>
		<!--外部框架div-->
		<div class="layui-col-md12">
			<!--头div-->
			<div class="layui-col-md12 all-head" id="headDiv">
				
			</div>
			<!--div(用于背景图)-->
			<div class="layui-col-md12 all-body-bg">
				<!--内容div-->
				<div class="all-body">
					<!--内容右边div-->
					<div class="layui-col-md4 all-body-left">
						<!--右上div-->
						<div class="layui-col-md12 all-body-left-top">
							<!--右上div标题-->
							<div class="layui-col-md12 all-body-left-top-title">
								围观问卷指标
							</div>
							<!--右上div标题下的边框-->
							<div class="layui-col-md12 all-body-left-top-title-border">
							</div>
							<!--右上div内容-->
							<div class="layui-col-md12 all-body-left-top-content">
							</div>
						</div>
						<!--右下div-->
						<div class="layui-col-md12 all-body-left-bottom">
						</div>
					</div>
					<!--内容中间div-->
					<div class="layui-col-md4 all-body-middle">
					
					</div>
					<!--内容右边div-->
					<div class="layui-col-md4 all-body-right">
					
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
