<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>产业链</title>
		<script type="text/javascript" src="../../source/js/public.js"></script>
		<!--公共引入js、css-->
		<script type="text/javascript" src="../../source/js/includefile.js"></script>
		<!--公共方法js-->
		<link rel="stylesheet" href="../../source/css/cyl-2/cyl-2.css" />
		<script src="../../source/js/cyl/left.js"></script>
		<script type="text/javascript" src="../../source/js/cyl/cylRank.js"></script>
		<script type="text/javascript" src="../../source/js/cyl-2/cyl-2.js"></script>

	</head>
	<body>
		<!--外部框架div-->
		<div class="layui-col-md12">
			<!--头div-->
			<div class="layui-col-md12 all-head" id="headDiv">

			</div>
			<!--div(用于背景图)-->
			<div class="layui-col-md12 all-body-bg">
				<!--内容div-->
				<div class="all-body">
					<!--内容右边div-->
					<div class="layui-col-md3 all-body-left">
						<!--右上div标题-->
						<div class="rightHead-top">
							<img src="../../source/img/icon_qysl.png" >
							产业链
						</div>
						<div class="layui-col-md12 all-body-left-top-title">

							<div class="rightHead">
								<div class="tally">
									精准招商
								</div>
								<div class="collect">
									收起
									<img src="../../source/img/cyl/icon_close.png" >
								</div>
							</div>

						</div>
						<!--右上div标题下的边框-->
						<div class="layui-col-md12 all-body-left-top-title-border">
						</div>
						<div class="ent-list-info-div-left">
							<label onclick="qhl(this,'zl','1')">
								<img src="../../source/img/zl_wx.png" data-name='zl' />
							</label>
							<label onclick="qhl(this,'bl','2')">
								<img src="../../source/img/bl_wx.png" data-name='bl' />
							</label>
							<label onclick="qhl(this,'wl','3')">
								<img src="../../source/img/wl_wx.png" data-name='wl' />
							</label>
						</div>
						<div class="ent-list-info-div-left">
							<label onclick="qhl(this,'kl','4')">
								<img src="../../source/img/kl_wx.png" data-name='kl' />
							</label>
							<label onclick="qhl(this,'ql','5')">
								<img src="../../source/img/ql_wx.png" data-name='ql' />
							</label>
							<label onclick="qhl(this,'ql','5')">
								
							</label>	
						</div>
						<!--右上div内容-->
						<div class="layui-col-md12 all-body-left-top-content">
							<div class="ent-list-info qg-rank">

								<div class="ent-list-info-div-right" id="ranklist"></div>
							</div>
						</div>
					</div>
					<div class="layui-col-md6 all-body-center">

					</div>
					<div class="layui-col-md3 all-body-right">
						<!--右上div标题-->
						<div class="layui-col-md12 all-body-left-top-title">
							<div class="rightHead">
								<div class="tally">
									产业链清单
									
								</div>
								<div class="collect">
									收起
									<img src="../../source/img/cyl/icon_close.png" >
								</div>
							</div>

						</div>
						<!--右上div标题下的边框-->
						<div class="layui-col-md12 all-body-left-top-title-border">
						</div>
						<div class="layui-col-md12 all-body-left-top-title-body">
							<div class="all-body-left-top-title-body-top">
								<div id="">
									问题清单
								</div>
								<div class="xz">
									企业清单
								</div>
								<div id="">	
									群集清单
								</div>
							</div>
							<div class="all-body-left-top-title-body-bottom">
								<div id="">
									重点项目清单
								</div>
								<div id="">
									政策清单
								</div>
							</div>
						</div>
						<!--右上div内容-->
						<div class="layui-col-md12 all-body-left-top-content">
							
						</div>
					</div>

				</div>
			</div>
	</body>
</html>
