<!DOCTYPE html>
<html lang="en" style="background: #fff">
<head>
    <meta charset="UTF-8">
    <title>企业列表</title>
    <script type="text/javascript" src="../../source/js/public.js"></script><!--公共引入js、css-->
    <script type="text/javascript" src="../../source/js/includefile.js"></script><!--公共方法js-->
    <script type="text/javascript" src="../../source/js/qyfb/pagination.js"></script><!--分页方法js-->
    <script type="text/javascript" src="../../source/js/cyl-2/qylb2.js"></script>
    <link rel="stylesheet" href="../../source/css/pagination.css"/>
    <link rel="stylesheet" href="../../source/css/common.css"/>
    <style>
        .layui-table td, .layui-table th {
            text-align: center;
        }
    </style>
</head>
<body style="background: #fff">
    <!--内容div-->
    <div class="all-body">
            <div class="layui-card-body">
                <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: auto;">总数：<span class="tSize" id="comTotal">0</span></label>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: auto;">企业名称</label>
                            <div class="layui-input-inline">
                                <input id="ENTNAME" name="ENTNAME" type="text" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: auto;">统一社会信用代码</label>
                            <div class="layui-input-inline">
                                <input id="UNISCID" name="UNISCID" type="text" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <span class="layui-btn layuiadmin-btn-list layui-btn-sm" id="query"
                                  data-type="reload">查询</span>
                        </div>
                    </div>
                </div>

                <div class="layui-form rTbox">
                    <table class="layui-table">
                        <tr>
                            <th width="1%" class="pdl0 pdr0">序号</th>
                            <th width="15%">企业名称</th>
                            <th width="10%">统一社会信用代码</th>
                            <th width="20%">地址</th>
                            <th width="8%">营业收入</th>
                            <th width="8%">纳税额</th>
                            <th width="8%">净利润</th>
                            <th width="8%">从业人员</th>
                            <th width="12%">所属产业</th>
                            <th width="10%">所属地区</th>
                        </tr>
                        <tbody id="rTbox">
                        </tbody>
                    </table>
                </div>
                <div id="page" class="page mgt10"></div><!-- 2.创建一个页码容器，设定宽度 -->
            </div>
        </div>
</body>
</html>