<!DOCTYPE html>
<html lang="en" style="background:#fff;">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../source/js/public.js"></script><!--公共引入js、css-->
    <script type="text/javascript" src="../../source/js/includefile.js"></script><!--公共方法js-->

    <link rel="stylesheet" href="../../source/css/pagination.css"/>
    <link rel="stylesheet" href="../../source/css/common.css"/>
    <style>
        .layui-form-select dl dd{
            color: #000;
        }
        .layui-form-select dl{
            height: 200px;
        }
        .layui-layer-content{
            color:#000000;
        }
    </style>
</head>
<body style="background:#fff;">

<form class="layui-form" id="myForm" style="margin: 50px 30px 10px 0;height: 85vh;" method="post" enctype="multipart/form-data">
    <div class="layui-form-item">
        <label class="layui-form-label" style="color: #000;"><span style="color:red;">*</span>年份</label>
        <div class="layui-input-block" >
            <input name="year" id="year" placeholder="请选择" readonly="readonly" lay-verify="required" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label" style="color: #000;"><span style="color:red;">*</span>统计区域</label>
        <div class="layui-input-block">
            <input name="area_name" id="area_name" type="hidden"/>
            <select name="area_value" id="area_value" lay-verify="required" lay-filter="onArea">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label" style="color: #000;"><span style="color:red;">*</span>月份</label>
        <div class="layui-input-block">
            <select name="month" id="month" lay-verify="required" lay-filter="onMonth">
                <option value="">请选择</option>
                <option value="2">2月</option>
                <option value="3">3月</option>
                <option value="4">4月</option>
                <option value="5">5月</option>
                <option value="6">6月</option>
                <option value="7">7月</option>
                <option value="8">8月</option>
                <option value="9">9月</option>
                <option value="10">10月</option>
                <option value="11">11月</option>
                <option value="12">12月</option>
            </select>
        </div>
    </div>
    <div style="display: none">
        <div id="list8" style="width:600px;height: 400px;"></div>
        <div id="list7" style="width:600px;height: 400px;"></div>
        <div id="list1" style="width:600px;height: 350px;"></div>
        <div id="list2" style="width:600px;height: 350px;"></div>
        <div id="list3" style="width:600px;height: 350px;"></div>
        <div id="list4" style="width:600px;height: 350px;"></div>
        <div id="list5" style="width:600px;height: 350px;"></div>
        <div id="list6" style="width:600px;height: 350px;"></div>
        <input id="imageValue1" name="base64Info1" type="hidden"/>
        <input id="imageValue2" name="base64Info2" type="hidden"/>
        <input id="imageValue3" name="base64Info3" type="hidden"/>
        <input id="imageValue4" name="base64Info4" type="hidden"/>
        <input id="imageValue5" name="base64Info5" type="hidden"/>
        <input id="imageValue6" name="base64Info6" type="hidden"/>
        <input id="imageValue7" name="base64Info7" type="hidden"/>
        <input id="imageValue8" name="base64Info8" type="hidden"/>
    </div>

    <div class="layui-form-item" style="margin-top: 5%;text-align: center;">
        <a class="layui-btn layui-btn-sm" onclick="submitForm();">生成报告</a>
    </div>
</form>
</body>
</html>
<script>
    $(function(){
        var datas = {};
        doData(BASE_URL+'/industryDistributionController/getNcShiArea',datas,function(result){
            $("#REPORT_DATE option:gt(0)").remove();
            if(getCookie("area_value")=='360100'){
                result.data.forEach(function (item, index) {
                    $("#area_value").append('<option value="'+item.AREA_VALUE+'">'+item.AREA_NAME+'</option>');
                })
            }else{
                result.data.forEach(function (item, index) {
                    if(getCookie("area_value")==item.AREA_VALUE){
                        $("#area_value").append('<option value="'+item.AREA_VALUE+'" selected>'+item.AREA_NAME+'</option>');
                    }
                })
            }

            var dates = new Date();
            layui.use(['form','laydate'],function(){
                var form = layui.form , laydate = layui.laydate;
                laydate.render({
                    elem: '#year',
                    type: 'year',
                    min: '2021',
                    max: 'dates',
                    showBottom: false,
                    //选择月份即选中关闭  年份扔可以左右点击选择
                    change: function (value, date, endDate) { //监听日期被切换
                        lay('#year').val(value);
                        $('.laydate-year-list').on('click','li',function () {//利用的事件委托
                            $('.layui-laydate').remove()
                        })
                        var area_value = $("#area_value").val();
                        var month = $("#month").val();
                        if(area_value!=''&&month!=''&&area_value!='360100'){
                            if( value == nowdate){
                                if($("#month").val()>(new Date().getMonth())){
                                    return false;
                                }
                            }
                            getReportStatis();
                        }
                    }
                });
                form.on("select(onMonth)",function(data){
                    var year = $("#year").val();
                    var area_value = $("#area_value").val();
                    if(year!=''&&area_value!=''&&area_value!='360100'){
                        if( year == nowdate){
                            if($("#month").val()>(new Date().getMonth())){
                                return false;
                            }
                        }
                        getReportStatis();
                    }
                })
                form.on("select(onArea)",function(data){
                    var year = $("#year").val();
                    var month = $("#month").val();
                    var aa = $("#area_value").val();

                    if(year!=''&&month!=''&&aa!='360100'){
                        if( year == nowdate){
                            if($("#month").val()>(new Date().getMonth())){
                                return false;
                            }
                        }
                        getReportStatis();
                    }
                })
            })
        })
    })
    //图表
    function getReportStatis(){

        var params = {
            year : $("#year").val(),
            area_value : $("#area_value").val(),
            month : $("#month").val()
        };
        doData(BASE_URL+'/reportController/getReportStatis',params,function(result){
            if(result.status=='10001'){
                var colors = ['#807FFE','#81FF81','#FFFF80','#F783FF','#7FFFFE','#FFC3C3','#FE8081','#A0A0A0'];
                var datas1 = [] , names1 = [];
                var datas2 = [] , names2 = [];
                var datas3 = [] , names3 = [];
                var datas4 = [] , names4 = [];
                var datas5 = [] , names5 = [];
                var datas6 = [] , names6 = [];
                var datas7=[] , datas8 = [] , names7 = [];
                var datas9=[] , datas10 = [] , names8= [];

                result.list1.forEach(function(item, index) {
                    datas1.push({name:item.area_name,value:item.sums});
                    names1.push(item.area_name);
                })
                result.list2.forEach(function(item, index) {
                    datas2.push({name:item.area_name,value:item.sums});
                    names2.push(item.area_name);
                })
                result.list3.forEach(function(item, index) {
                    datas3.push({name:item.area_name,value:item.sums});
                    names3.push(item.area_name);
                })
                result.list4.forEach(function(item, index) {
                    datas4.push({name:item.area_name,value:item.sums});
                    names4.push(item.area_name);
                })
                result.list5.forEach(function(item, index) {
                    datas5.push({name:item.area_name,value:item.sums});
                    names5.push(item.area_name);
                })
                result.list6.forEach(function(item, index) {
                    datas6.push({name:item.area_name,value:item.sums});
                    names6.push(item.area_name);
                })

                result.list7.forEach(function(item, index) {
                    names7.push(item.area_name);
                    datas7.push(item.yszs);
                    datas8.push(item.yszs_goal);
                })

                result.list8.forEach(function(item, index) {
                    names8.push(item.m_name);
                    datas9.push(item.sums);
                    datas10.push(item.yszs);
                })

                var myChart1 = echarts.init(document.getElementById('list1'));
                var option1 = {
                    backgroundColor: '#fff',
                    color:colors,
                    legend: {
                        icon: 'circle',
                        orient: 'vertical',
                        right: '30',
                        y: 'center',
                        data: names1,
                        formatter: function(name) {
                            var data = option1.series[0].data;
                            var total = 0;
                            var tarValue;
                            for (var i = 0; i < data.length; i++) {
                                total += data[i].value;
                                if (data[i].name == name) {
                                    tarValue = data[i].value;
                                }
                            }
                            var p = Math.round(((tarValue / total) * 100));
                            return `${name}(${p}%)`;
                        }
                    },
                    series: [
                        {
                            type: 'pie',
                            radius: '65%',
                            center: ['35%', '50%'],
                            selectedMode: 'single',
                            data: datas1,
                            label:{
                                formatter:function(data){ return data.percent.toFixed(0)+"%";},
                                position:'inside',
                                color:'#000'
                            }
                        }
                    ]
                };
                myChart1.setOption(option1);

                var myChart2 = echarts.init(document.getElementById('list2'));
                var option2 = {
                    backgroundColor: '#fff',
                    color:colors,
                    legend: {
                        icon: 'circle',
                        orient: 'vertical',
                        right: '30',
                        y: 'center',
                        data: names2,
                        formatter: function(name) {
                            var data = option2.series[0].data;
                            var total = 0;
                            var tarValue;
                            for (var i = 0; i < data.length; i++) {
                                total += data[i].value;
                                if (data[i].name == name) {
                                    tarValue = data[i].value;
                                }
                            }
                            var p = Math.round(((tarValue / total) * 100));
                            return `${name}(${p}%)`;
                        }
                    },
                    series: [
                        {
                            type: 'pie',
                            radius: '65%',
                            center: ['35%', '50%'],
                            selectedMode: 'single',
                            data: datas2,
                            label:{
                                formatter:function(data){ return data.percent.toFixed(0)+"%";},
                                position:'inside',
                                color:'#000'
                            }
                        }
                    ]
                };
                myChart2.setOption(option2);

                var myChart3 = echarts.init(document.getElementById('list3'));
                var option3 = {
                    backgroundColor: '#fff',
                    color:colors,
                    legend: {
                        icon: 'circle',
                        orient: 'vertical',
                        right: '30',
                        y: 'center',
                        data: names3,
                        formatter: function(name) {
                            var data = option3.series[0].data;
                            var total = 0;
                            var tarValue;
                            for (var i = 0; i < data.length; i++) {
                                total += data[i].value;
                                if (data[i].name == name) {
                                    tarValue = data[i].value;
                                }
                            }
                            var p = Math.round(((tarValue / total) * 100));
                            return `${name}(${p}%)`;
                        }
                    },
                    series: [
                        {
                            type: 'pie',
                            radius: '65%',
                            center: ['35%', '50%'],
                            selectedMode: 'single',
                            data: datas3,
                            label:{
                                formatter:function(data){ return data.percent.toFixed(0)+"%";},
                                position:'inside',
                                color:'#000'
                            }
                        }
                    ]
                };
                myChart3.setOption(option3);

                var myChart4 = echarts.init(document.getElementById('list4'));
                var option4 = {
                    backgroundColor: '#fff',
                    color:colors,
                    legend: {
                        icon: 'circle',
                        orient: 'vertical',
                        right: '30',
                        y: 'center',
                        data: names4,
                        formatter: function(name) {
                            var data = option4.series[0].data;
                            var total = 0;
                            var tarValue;
                            for (var i = 0; i < data.length; i++) {
                                total += data[i].value;
                                if (data[i].name == name) {
                                    tarValue = data[i].value;
                                }
                            }
                            var p = Math.round(((tarValue / total) * 100));

                            let tip1 = "";
                            let tip = "";
                            let le = name.length;  //图例文本的长度
                            if(le > 10){   //几个字换行大于几就可以了
                                let l = Math.ceil(le/10)  //有些不能整除，会有余数，向上取整
                                for(let i = 1;i <= l;i++){ //循环
                                    if(i < l){ //最后一段字符不能有\n
                                        tip1 += name.slice(i*10-10,i*10)+'\n'; //字符串拼接
                                    }else if(i === l){  //最后一段字符不一定够15个
                                        tip = tip1 + name.slice((l-1)*10,le) //最后的拼接在最后
                                    }
                                }
                                return `${tip}(${p}%)`;
                            }else {
                                return `${name}(${p}%)`;
                            }
                        }
                    },
                    series: [
                        {
                            type: 'pie',
                            radius: '65%',
                            center: ['35%', '50%'],
                            selectedMode: 'single',
                            data: datas4,
                            label:{
                                formatter:function(data){ return data.percent.toFixed(0)+"%";},
                                position:'inside',
                                color:'#000'
                            }
                        }
                    ]
                };
                myChart4.setOption(option4);

                var myChart5 = echarts.init(document.getElementById('list5'));
                var option5 = {
                    backgroundColor: '#fff',
                    color:colors,
                    legend: {
                        icon: 'circle',
                        orient: 'vertical',
                        right: '30',
                        y: 'center',
                        data: names5,
                        formatter: function(name) {
                            var data = option5.series[0].data;
                            var total = 0;
                            var tarValue;
                            for (var i = 0; i < data.length; i++) {
                                total += data[i].value;
                                if (data[i].name == name) {
                                    tarValue = data[i].value;
                                }
                            }
                            var p = Math.round(((tarValue / total) * 100));
                            return `${name}(${p}%)`;
                        }
                    },
                    series: [
                        {
                            type: 'pie',
                            radius: '65%',
                            center: ['35%', '50%'],
                            selectedMode: 'single',
                            data: datas5,
                            label:{
                                formatter:function(data){ return data.percent.toFixed(0)+"%";},
                                position:'inside',
                                color:'#000'
                            }
                        }
                    ]
                };
                myChart5.setOption(option5);

                var myChart6 = echarts.init(document.getElementById('list6'));
                var option6 = {
                    backgroundColor: '#fff',
                    color:colors,
                    legend: {
                        icon: 'circle',
                        orient: 'vertical',
                        right: '30',
                        y: 'center',
                        data: names6,
                        formatter: function(name) {
                            var data = option6.series[0].data;
                            var total = 0;
                            var tarValue;
                            for (var i = 0; i < data.length; i++) {
                                total += Number(data[i].value);
                                if (data[i].name == name) {
                                    tarValue = Number(data[i].value)
                                }
                            }
                            var p = Math.round(((tarValue / total) * 100));
                            return `${name}(${p}%)`;
                        }
                    },
                    series: [
                        {
                            type: 'pie',
                            radius: '65%',
                            center: ['35%', '50%'],
                            data: datas6,
                            label:{
                                formatter:function(data){ return data.percent.toFixed(0)+"%";},
                                position:'inside',
                                color:'#000'
                            }
                        }
                    ]
                };
                myChart6.setOption(option6);

                var myChart7 = echarts.init(document.getElementById('list7'));
                var option7 = {
                    backgroundColor: '#fff',
                    color: ['#307CF8', '#F86F30'],
                    legend: {
                        y: 'bottom',
                        x: 'center',
                        data: ['实际增速(%)','预期增速(%)']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '5%',
                        top: '5%',
                        containLabel: true
                    },
                    xAxis: [{
                        axisLine: {
                            lineStyle: {
                                color: '#000'
                            }
                        },
                        axisLabel: {
                            interval: 0,
                            textStyle: {
                                color: "#000"
                            },
                            rotate:'30'
                        },
                        type: 'category',
                        data: names7,
                    }],
                    yAxis: [{
                        type: 'value',
                        axisLine: {
                            lineStyle: {
                                color: '#000',
                            }
                        },
                        textStyle: {
                            color: '#000'
                        },
                        axisLabel: {
                            formatter: '{value} %'
                        }
                    }],
                    series: [
                        {
                            name:'实际增速(%)',
                            type: 'bar',
                            barWidth: '15',
                            barGap: 0,
                            data: datas7,
                            label: {
                                show: true,
                                position: 'top',
                                formatter: '{c}',
                                textStyle: {
                                    color: '#000',
                                    fontSize:'10'
                                }
                            }
                        },
                        {
                            name:'预期增速(%)',
                            type: 'bar',
                            barWidth: '15',
                            barGap: 0,
                            data: datas8,
                            label:{
                                show: true,
                                position: 'inside',
                                formatter: '{c}',
                                textStyle: {
                                    color: '#000',
                                    fontSize:'10'
                                }
                            }
                        }
                    ]
                };
                myChart7.setOption(option7);

                var myChart8 = echarts.init(document.getElementById('list8'));
                var option8 = {
                    backgroundColor: '#fff',
                    color: ['#307CF8', '#F86F30'],
                    legend: {
                        y: 'bottom',
                        x: 'center',
                        data: ['营收(万元)','增速(%)']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '5%',
                        top: '5%',
                        containLabel: true
                    },
                    xAxis: [{
                        axisLine: {
                            lineStyle: {
                                color: '#000'
                            }
                        },
                        axisLabel: {
                            interval: 0,
                            textStyle: {
                                color: "#000"
                            },
                            rotate:'30'
                        },
                        type: 'category',
                        data: names8,
                    }],
                    yAxis: [{
                        type: 'value',
                        axisLine: {
                            lineStyle: {
                                color: '#000',
                            }
                        },
                        textStyle: {
                            color: '#000'
                        },
                        axisLabel: {
                            formatter: '{value} 万元'
                        }
                    },{
                        type: 'value',
                        axisLine: {
                            lineStyle: {
                                color: '#000',
                            }
                        },
                        textStyle: {
                            color: '#000'
                        },
                        axisLabel: {
                            formatter: '{value} %'
                        }
                    }],
                    series: [
                        {
                            name:'营收(万元)',
                            type: 'bar',
                            barWidth: '15',
                            barGap: 0,
                            data: datas9,
                            label: {
                                show: true,
                                position: 'inside',
                                formatter: '{c}',
                                textStyle: {
                                    color: '#000',
                                    fontSize:'10'
                                }
                            }
                        },
                        {
                            name:'增速(%)',
                            type: 'line',
                            yAxisIndex: 1,
                            symbol: 'circle',
                            data: datas10,
                            label:{
                                show: true,
                                position: 'top',
                                formatter: '{c}',
                                textStyle: {
                                    color: '#000',
                                    fontSize:'10'
                                }
                            }
                        }
                    ]
                };
                myChart8.setOption(option8);


            }
        })
    }

    /**
     * 将多个canvas画布组成的图表合成为一个完整的canvas,并获取完整的dataURl
     * @param divId divId 包含整个画布的divId
     * @returns {String} widthXheight@dataURL 例：
     * 400X300@data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA
     */
    function getFullCanvasDataURL(divId){
        //将第一个画布作为基准。
        var baseCanvas = $("#"+divId).find("canvas").first()[0];
        if(!baseCanvas){
            return false;
        };
        var width = baseCanvas.width;
        var height = baseCanvas.height;
        var ctx = baseCanvas.getContext("2d");
        //遍历，将后续的画布添加到在第一个上
        $("#"+divId).find("canvas").each(function(i,canvasObj){
            if(i>0){
                var canvasTmp = $(canvasObj)[0];
                ctx.drawImage(canvasTmp,0,0,width,height);
            }
        });
        //获取base64位的url
        return baseCanvas.toDataURL();
    }

    function submitForm() {
        if($("#area_value").val()=='360100'){
            layer.alert('该地市没有可导出的数据');
            return false;
        }

        if( $("#year").val() == nowdate){
            if($("#month").val()>(new Date().getMonth())){
                layer.alert("选择月份只能小于当前月份");
                return false;
            }
        }

        $("#area_name").val($("#area_value option:selected").text());
        $("#imageValue1").val(getFullCanvasDataURL("list1"));
        $("#imageValue2").val(getFullCanvasDataURL("list2"));
        $("#imageValue3").val(getFullCanvasDataURL("list3"));
        $("#imageValue4").val(getFullCanvasDataURL("list4"));
        $("#imageValue5").val(getFullCanvasDataURL("list5"));
        $("#imageValue6").val(getFullCanvasDataURL("list6"));
        $("#imageValue7").val(getFullCanvasDataURL("list7"));
        $("#imageValue8").val(getFullCanvasDataURL("list8"));
        $("#myForm").attr("action",LOGIN_ADMIN_URL + '/reportController/generateReport');
        $("#myForm").submit();
    }
</script>