<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>云计算产业链</title>
		<script type="text/javascript" src="../../source/js/public.js"></script>
		<!--公共引入js、css-->
		<script type="text/javascript" src="../../source/js/includefile.js"></script>
		<script type="text/javascript" src="../../source/js/countUp.js"></script>
		<!--公共方法js-->
		<link rel="stylesheet" href="../../source/css/yjs-cyl/yjs-cyl.css" />
		<script src="../../source/js/yjs-cyl/yjs-cyl.js"></script>
	</head>
	<body>
		<!-- 外部框架 -->
		<div class="layui-col-md12">
			<!--头div-->
			<div class="layui-col-md12 all-head" id="headDiv">

			</div>
			<!--div(用于背景图)-->
			<div class="layui-col-md12 all-body-bg">
				<!--内容div-->
				<div class="all-body">
					<!-- 左侧布局 -->
					<div class="all-body-left">
						<div class="left-one">
							<div class="logo">
								<img src="../../source/img/icon_qysl.png">
								&nbsp
								<b>产 业 链</b>
							</div>
							<div class="particular-year">
								<img class="cleft" src="../../source/img/cyl/last.png">
								<div class="ctitle">
									2020
								</div>
								<img class="cright" src="../../source/img/cyl/next.png">
							</div>
						</div>
						<div class="left-two">
							精准招商
							<!-- <div class="collect">
								收起
								<img src="../../source/img/cyl/icon_close.png">
							</div> -->
						</div>
						<div class="left-three">
							<img src="../../source/img/title_border_left.png">
						</div>
						<div class="left-five" id="ranklist">
						</div>
					</div>
					<!-- 中间 -->
					<div class="all-body-center">
						<!-- 头部不动 -->
						<div class="center-top">
							<div class="top-three">
								<div class="three-center">
									<div class="twobutton" id="twobutton">
										物联网
									</div>
									<div class="twobutton twobutton-exchange" id="computing">
										云计算
									</div>
								</div>
							</div>
							<div class="top-four">
								<svg width="100%" height="100%" viewBox="0 0 1297 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						
									<path stroke-dasharray="2,2" d="M770 1V20.2308H436V41" stroke="#31F7FB" />
									<path stroke-dasharray="2,2" d="M770 0V20.7407H871V40" stroke="#31F7FB" />
									<path stroke-dasharray="2,2" d="M770 0V20.3636H1296V40" stroke="#31F7FB" />
									<path stroke-dasharray="2,2" d="M770 1V20.6226H1V41" stroke="#31F7FB" />
									<path d="M770 1V20.6226H1V41" stroke="#31F7FB" class="circle-load-svg2" />
								</svg>
						
						
							</div>
							<div class="top-five">
								<div class="fourbutton button-exchange" id="industry">
									<img src="../../source/img/cyl/icon_cyl_1.png">
									产业链图
								</div>
								<div class="fourbutton" id="technology">
									<img src="../../source/img/cyl/icon_jsxl_1.png">
									技术路线图
								</div>
								<div class="fourbutton" id="use">
									<img src="../../source/img/cyl/icon_yyly_1.png">
									应用领域图
								</div>
								<div class="fourbutton" id="district">
									<img src="../../source/img/cyl/icon_qyfb_1.png">
									区域分布图
								</div>
							</div>
						</div>
						<!-- 产业链图 -->
						<div class="center-body-cyl">
							
							<div class="size2">
								
								<div class="size2b size">
									<div class="icon icon1"></div>
									<div class="line">
										<div class="line1" id="hardware">
											36家
										</div>
										<div class="line2">
											企业数量
										</div>
									</div>
									<div class="line3">
										硬件层
									</div>
									<svg   style="width: 100%; height: 100%; ">
										<path id="myPath" d="M-150 0 L0 0 Z"  stroke="red"></path>
										<g style="transform: translateY(40%);">
											<path d="
												M0 10
												Q 20 20,40 10 Q 60 0,	80 10 Q 100 20,120 10 Q 140 0,160 10
												Q 180 20,200 10 Q 220 0,240 10 Q 260 20,280 10 Q 300 0,320 10
												Q 340 20,360 10 Q 380 0,400 10 L 400 500 L 0 500 Z "
											 stroke="none" fill="rgba(220,134,74,0.4)" ></path>
											<animateMotion begin="0s" dur = "6s" repeatCount = "indefinite">
												<mpath xlink:href="#myPath"/>
											</animateMotion>
										</g>
										<g style="transform: translateY(40%);">
											<path d="
												M0 10
												Q 20 20,40 10 Q 60 0,	80 10 Q 100 20,120 10 Q 140 0,160 10
												Q 180 20,200 10 Q 220 0,240 10 Q 260 20,280 10 Q 300 0,320 10
												Q 340 20,360 10 Q 380 0,400 10 L 400 500 L 0 500 Z "
											 stroke="none" fill="rgba(220,134,74,0.4)" ></path>
											<animateMotion begin="-2s" dur = "6s" repeatCount = "indefinite">
												<mpath xlink:href="#myPath"/>
											</animateMotion>
										</g>
									</svg>
								</div>
								
								<div class="size2d size">
									<div class="icon icon2"></div>
									<div class="line">
										<div class="line1" id="platform">
											48家
										</div>
										<div class="line2">
											企业数量
										</div>
									</div>
									<div class="line3">
										平台服务层
									</div>
									<svg   style="width: 100%; height: 100%; ">
										<path id="myPath" d="M-150 0 L0 0 Z"  stroke="red"></path>
										<g style="transform: translateY(20%);">
											<path d="
												M0 10
												Q 20 20,40 10 Q 60 0,	80 10 Q 100 20,120 10 Q 140 0,160 10
												Q 180 20,200 10 Q 220 0,240 10 Q 260 20,280 10 Q 300 0,320 10
												Q 340 20,360 10 Q 380 0,400 10 L 400 500 L 0 500 Z "
											 stroke="none" fill="rgba(71,121,193,0.4)" ></path>
											<animateMotion begin="0s" dur = "6s" repeatCount = "indefinite">
												<mpath xlink:href="#myPath"/>
											</animateMotion>
										</g>
										<g style="transform: translateY(20%);">
											<path d="
												M0 10
												Q 20 20,40 10 Q 60 0,	80 10 Q 100 20,120 10 Q 140 0,160 10
												Q 180 20,200 10 Q 220 0,240 10 Q 260 20,280 10 Q 300 0,320 10
												Q 340 20,360 10 Q 380 0,400 10 L 400 500 L 0 500 Z "
											 stroke="none" fill="rgba(71,121,193,0.4)" ></path>
											<animateMotion begin="-2s" dur = "6s" repeatCount = "indefinite">
												<mpath xlink:href="#myPath"/>
											</animateMotion>
										</g>
									</svg>
								</div>
								
								<div class="size2f size">
									<div class="icon icon3"></div>
									<div class="line">
										<div class="line1" id="application">
											12家
										</div>
										<div class="line2">
											企业数量	
										</div>
									</div>
									<div class="line3">
										应用层
									</div>
									<svg   style="width: 100%; height: 100%; ">
										<path id="myPath" d="M-150 0 L0 0 Z"  stroke="red"></path>
										<g style="transform: translateY(80%);">
											<path d="
												M0 10
												Q 20 20,40 10 Q 60 0,	80 10 Q 100 20,120 10 Q 140 0,160 10
												Q 180 20,200 10 Q 220 0,240 10 Q 260 20,280 10 Q 300 0,320 10
												Q 340 20,360 10 Q 380 0,400 10 L 400 500 L 0 500 Z "
											 stroke="none" fill="rgba(88,173,185,0.4)" ></path>
											<animateMotion begin="0s" dur = "6s" repeatCount = "indefinite">
												<mpath xlink:href="#myPath"/>
											</animateMotion>
										</g>
										<g style="transform: translateY(80%);">
											<path d="
												M0 10
												Q 20 20,40 10 Q 60 0,	80 10 Q 100 20,120 10 Q 140 0,160 10
												Q 180 20,200 10 Q 220 0,240 10 Q 260 20,280 10 Q 300 0,320 10
												Q 340 20,360 10 Q 380 0,400 10 L 400 500 L 0 500 Z "
											 stroke="none" fill="rgba(88,173,185,0.4)" ></path>
											<animateMotion begin="-2s" dur = "6s" repeatCount = "indefinite">
												<mpath xlink:href="#myPath"/>
											</animateMotion>
										</g>
									</svg>
								</div>
								
							</div>
							<div class="size3">
								<div class="size3a">
									
								</div>
								<div class="size3b">
									<div class="threeButtons threeButton" onclick="changeType('1',this);">
										企业数量
									</div>
									<div class="threeButtons" onclick="changeType('2',this);">
										营业收入
									</div>
									<div class="threeButtons" onclick="changeType('3',this);">
										利税总额
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 右侧布局 -->
					<div class="all-body-right">
						<div class="left-two">
							企业排名
							<div class="layui-input-block downBox">
							  <select name="city" lay-verify="required" class="select" onchange="changeButton(this)">
								<!--<option value="0">企业数量</option>-->
								<option value="2">营业收入</option>
								<option value="3">利税总额</option>
								<!--<option value="5">从业人员</option>-->
							  </select>
							</div>
						</div>
						<div class="left-three">
							<img src="../../source/img/title_border_left.png">
						</div>
						
						<div class="left-four" id="ranklast">
							
						</div>
						<div class="right-five">
							数据来源：<span id="dataSource"></span>
							</br>
							数据采集截止日期：<span id="dataCollectionTime"></span>
						</div>
					</div>
				</div>
			</div>

			<!--底div-->

		</div>
	</body>
</html>
