<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>产业链</title>
		<script type="text/javascript" src="../../source/js/public.js"></script>
		<!--公共引入js、css-->
		<script type="text/javascript" src="../../source/js/includefile.js"></script>
		<!--公共方法js-->
		<link rel="stylesheet" href="../../source/css/yjs-cyl/yjs-jslx.css" />
		<script type="text/javascript" src="../../source/js/yjs-cyl/yjs-jslx.js"></script>


	</head>
	<body>
		<!--外部框架div-->
		<div class="layui-col-md12">
			<!--头div-->
			<div class="layui-col-md12 all-head" id="headDiv">

			</div>
			<!--div(用于背景图)-->
			<div class="layui-col-md12 all-body-bg">
				<!--内容div-->
				<div class="all-body">
					
					<!-- 中间布局 -->
					<div class="all-body-center"> 	
						<!-- 头部不动 -->
						<div class="center-top">
							
							<div class="top-three">
								<div class="three-center">
									<div class="twobutton" id="wlw">
										物联网
									</div>
									<div class="twobutton twobutton-exchange">
										云计算
									</div>
								</div>
							</div>
							<div class="top-four">
								<svg width="100%" height="100%" viewBox="0 0 1297 41" fill="none" xmlns="http://www.w3.org/2000/svg">

									<path stroke-dasharray="2,2" d="M770 1V20.2308H436V41" stroke="#31F7FB" />
									<path stroke-dasharray="2,2" d="M770 0V20.7407H871V40" stroke="#31F7FB" />
									<path stroke-dasharray="2,2" d="M770 0V20.3636H1296V40" stroke="#31F7FB" />
									<path stroke-dasharray="2,2" d="M770 1V20.6226H1V41" stroke="#31F7FB" />
									<path d="M770 1V20.2308H436V41" stroke="#31F7FB" class="circle-load-svg2" />
								</svg>


							</div>
							<div class="top-five">
								<div class="fourbutton " id="industry">
									<img src="../../source/img/cyl/icon_cyl_1.png">
									产业链图
								</div>
								<div class="fourbutton button-exchange" id="technology">
									<img src="../../source/img/cyl/icon_jsxl_1.png">
									技术路线图
								</div>
								<div class="fourbutton" id="use">
									<img src="../../source/img/cyl/icon_yyly_1.png">
									应用领域图
								</div>
								<div class="fourbutton" id="district">
									<img src="../../source/img/cyl/icon_qyfb_1.png">
									区域分布图
								</div>
							</div>
						</div>

						<!-- 技术路线-文档 -->
						 <div class="center-body-jslx">
							<img src="../../source/img/cyl/cyl2.png" >
						</div> 
						<!-- 底部不动 -->
						<div class="center-foot">
							<div class="datalogo">
								<img src="../../source/img/ncbd.png">
								<span id="systemDepart">南昌市大数据发展管理局</span>
							</div>
							<div class="cyfz_ly">
								<div class="details">
									数据来源：<span id="dataSource"></span>
									</br>
									数据采集截止日期：<span id="dataCollectionTime"></span>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>

			<!--底div-->

		</div>
	</body>
</html>
