<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>企业画像</title>
		<script type="text/javascript" src="../../source/js/public.js" ></script><!--公共引入js、css-->
	    <script type="text/javascript" src="../../source/js/includefile.js" ></script><!--公共方法js-->
	    <script src="../../source/js/qyhx/qyhx.js"></script>
		<link rel="stylesheet" href="../../source/css/qyhx/qyhx_new.css">
	</head>
	<body>
		<!--外部框架div-->
		<div class="layui-col-md12">
			<!--头div-->
			<div class="layui-col-md12 all-head" id="headDiv">
				
			</div>
			<!--div(用于背景图)-->
			<div class="layui-col-md12 all-body-bg">
				<!--内容div-->
				<div class="all-body">
					<!--内容右边div-->
					<div class="layui-col-md3 all-body-left">
						<!--右上div-->
						<div class="layui-col-md12 all-body-left-top">
							<!--右上div标题-->
							<div class="layui-col-md12 all-body-left-top-title">
								企业综合评分
							</div>
							<!--右上div标题下的边框-->
							<div class="layui-col-md12 all-body-left-top-title-border">
							</div>
							<!--右上div内容-->
							<div class="layui-col-md12 all-body-left-top-content">
								<div class="all-left-top-head">
									<ul>
										<li><p class="fs" id="SUMDF" NAME="SUMDF" style="margin-top: 10px">96</p></li>
										<li><p style="margin-top: 5px">企业评分</p></li>
									</ul>
									<ul class="pj">
										<li>企业产业特质良好</li>
										<li>企业产业特质良好</li>
                                        <li>企业产业特质良好</li>
									</ul>
								</div>
								<div id="qyzhpf"></div>
							</div>
						</div>
						<!--右下div-->
						<div class="layui-col-md12 all-body-left-bottom">
							<!--右上div标题-->
							<div class="layui-col-md12 all-body-left-top-title">
								企业上缴税金情况
							</div>
							<!--右上div标题下的边框-->
							<div class="layui-col-md12 all-body-left-top-title-border">
							</div>
							<!--右上div内容-->
							<div class="layui-col-md12 all-body-left-top-content">
								<div id="qysjsjqk"></div>
							</div>
						</div>
					</div>
					<!--内容中间div-->
					<div class="layui-col-md6 all-body-middle">
						<div class="layui-col-md12 all-body-left-top">
							<div class="layui-col-md4 all-body-middle-left">
								<img src="../../source/img/qyhx/qytb2.png" class="all-center-top-left-img"  width="226"/>
								<img src="../../source/img/qyhx/qyxyxq.png" width="226" class="qyxq all-center-top-left-img"/>
							</div>
							<div class="layui-col-md8 all-body-middle-right">
								<div class="all-center-top-right-title">
									<p class="all-center-top-right-gsmc" style="float: left;" id="ENTNAME" name="ENTNAME">
										<!--江西智容科技有限公司--></p>
								</div>
								<div id="CHAIN_NAME" name="CHAIN_NAME">
									<!--<p class="all-center-top-right-bq" >大数据与云计算</p>
									<p class="all-center-top-right-bq">物联网</p>-->
								</div>
								<div class="all-center-top-right-div">
									<img src="../../source/img/qyhx/sg.png" height="14" width="14"/>
									<p id="UNISCID" name="UNISCID"></p>
								</div>
								<div class="all-center-top-right-div">
									<img src="../../source/img/qyhx/sg.png" height="14" width="14"/>
									<p id="NAME" name="NAME"><!--&nbsp;法定代表人：李志--></p>
								</div>
								<div class="all-center-top-right-div">
									<img src="../../source/img/qyhx/sg.png" height="14" width="14"/>
									<p id="DOM" name="DOM"><!--&nbsp;地址：南昌市红谷滩区丰和北大道绿地外滩公馆19栋--></p>
								</div>
								<div class="all-center-top-right-div">
									<img src="../../source/img/qyhx/sg.png" height="14" width="14"/>
									<p id="ESTDATE" name="ESTDATE"><!--&nbsp;成立日期：2011-04-28--></p>
								</div>
							</div>
						</div>
						<div class="layui-col-md12 all-body-left-bottom">
							<div class="layui-col-md12 all-body-left-top-title">
								企业近五年经营情况
							</div>
							<div class="layui-col-md12 all-body-left-top-title-border">
							</div>
							<div class="layui-col-md12 all-body-left-top-content">
								<div id="qyjynjyqk"></div>
							</div>
						</div>
					</div>
					<!--内容右边div-->
					<div class="layui-col-md3 all-body-right">
						<div class="layui-col-md12 all-body-right-top">
							<!--右上div标题-->
							<div class="layui-col-md12 all-body-left-top-title">
								企业全景画像
							</div>
							<!--右上div标题下的边框-->
							<div class="layui-col-md12 all-body-right-top-title-border">
							</div>
							<!--右上div内容-->
							<div class="layui-col-md12 all-body-left-top-content">
								<div class="qyqjDiv">
									<img src="../../source/img/qyhx/qyhx.png" width="301">
								</div>
							</div>
						</div>
						<div class="layui-col-md12 all-body-right-bottom">
							<!--右上div标题-->
							<div class="layui-col-md12 all-body-left-top-title">
								舆情信息
							</div>
							<!--右上div标题下的边框-->
							<div class="layui-col-md12 all-body-left-top-title-border">
							</div>
							<!--右上div内容-->
							<div class="layui-col-md12 all-body-left-top-content">
								<table class="all-right-bottom-table" id="qytable">
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
