<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知识产权</title>
    <script type="text/javascript" src="../../source/js/public.js" ></script>
    <script type="text/javascript" src="../../source/js/includefile.js"></script>
    <script type="text/javascript" src="../../source/js/qyhx/zscq.js" ></script>
    <link rel="stylesheet" href="../../source/css/qyhx/zscq.css">
</head>
<body style="background: #fff">
<div class="zscq">
    <div class="main maincontent">
        <div class="zmxx" id="brandInfo">
            <div class="zmxx-content" style="padding-bottom: 0px;">
                <h4>商标信息</h4>
                <table class="gd-table">
                    <thead>
                    <tr>
                        <td width="5%">序号</td>
                        <td width="20%">商标</td>
                        <td width="10%">商标名</td>
                        <td width="5%">商标状态</td>
                        <td width="15%">商标注册号</td>
                        <td width="10%">商标类别</td>
                        <td width="10%">申请日期</td>
                    </tr>
                    </thead>
                    <tbody>


                    </tbody>
                </table>
            </div>
            <div class="clear"></div>
        </div>
        <div class="zmxx" id="patentInfo">
            <div class="zmxx-content" style="padding-bottom: 0px;">
                <h4>专利信息</h4>
                <table class="gd-table">
                    <thead>
                    <tr>
                        <td width="5%">序号</td>
                        <td width="20%">摘要附图</td>
                        <td width="15%">专利名</td>
                        <td width="10%">专利类型</td>
                        <td width="15%">发明人</td>
                        <td width="10%">授权公布号</td>
                        <td width="10%">授权公布日期</td>
                        <td width="10%">法律状态</td>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="clear"></div>
        </div>
        <div class="zmxx" id="CopyrightInfo">
            <div class="zmxx-content" style="padding-bottom: 0px;">
                <h4>软件著作权信息</h4>
                <table class="gd-table">
                    <thead>
                    <tr>
                        <td width="5%">序号</td>
                        <td width="15%">软件名称</td>
                        <td width="15%">软件简称</td>
                        <td width="10%">著作权人</td>
                        <td width="10%">分类号</td>
                        <td width="10%">登记号</td>
                        <td width="15%">登记日期</td>
                        <td width="15%">首发日期</td>
                        <td width="5%">版本号</td>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="clear"></div>
        </div>
        <div class="zmxx" id="CertificationInfo">
            <div class="zmxx-content" style="padding-bottom: 0px;">
                <h4>企业证书信息</h4>
                <table class="gd-table">
                    <thead>
                    <tr>
                        <td width="5%">序号</td>
                        <td width="15%">产品名称</td>
                        <td width="15%">证书类型</td>
                        <td width="10%">证书生效时间</td>
                        <td width="10%">证书截止日期</td>
                        <td width="10%">证书编号</td>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>