.vw28{ width: 28%}
.vw30{ width: 30%;}
.vw40{ width: 40%;}
.vw42{ width: 42%;}
.vw100{ width: 100%;}
.vw70{ width: 70%;}
.vpdl10{padding-left: 1%;}
.vpdr10{ padding-right: 1%;}
.vpdl20{padding-left: 2%;}
.mgt10{ margin-top: 1rem;}
.mgl7{ margin-left: .7rem;;}
.pdl0{padding-left: 0px;}
.pdr0{padding-right: 0px;}
.h100{ height: 100%;}

.posr{ position: relative;}
.posa{ position: absolute;}
.l0{ left: 0px;}
.t0{ top: 0px;}
.r0{right: 0px;}
.b0{bottom: 0px;;}
